:root{ custom properties llamado root
    --blanco: #FFFFFF;
    --obscuro: #212121;
    --primario: #FFC107;
    --secundario: #0997a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

/* Adaptación de pixeles relativa al dispositivo 1rem = 10px*/

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}